<a href="#" class="{{class}}">
    {{#if (eq class "linkProfile")}}
        <img src="/src/assets/image/arrow_back.svg" alt="вернуться назад" class="profile__avatar">
    {{else}}
        {{linkText}}
    {{/if}}
</a>