{{#> modalContainer}}
    <div class="modal__content">
        <h2 class="modal__title">Загрузить файл</h2>
        <div class="modal__body">
            {{> inputFile }}
        </div>
        
        {{> button type="primary" btnText="Загрузить"}}
    </div>
{{/modalContainer}}