<div class="form">
    <div class="login">
        <h2 class="login__title">Вход</h2>
        <form class="login__form">
            <div class="login__inputs">
                {{> Input label="Login" }}
                {{> Input label="Password" }}
            </div>
            <div class="login__btns">
                {{> Button type="primary" btnText="Войти"}}
                {{> Button type="link" btnText="Нет аккаунта?"}}
            </div>
        </form>
    </div>
</div>