<div class="form">
    <div class="login">
        <h2 class="login__title">Вход</h2>
        <form class="login__form">
            <div class="login__inputs">
                {{> input label="Login" }}
                {{> input label="Password" }}
            </div>
            <div class="login__btns">
                {{> button type="primary" btnText="Войти"}}
                {{> link class="link" linkText="Нет аккаунта?"}}
            </div>
        </form>
    </div>
</div>