<div class="form">
    <div class="login">
        <h2 class="login__title">Вход</h2>
        <form class="login__form">
            <div class="login__inputs">
                {{> input class="login__input" typeTxt="text" name="login" placeholder="Логин" }}
                {{> input class="login__input" name="password" placeholder="Пароль" }}
            </div>
            <div class="login__btns">
                {{> button class="login__button" btnText="Войти"}}
                <p><a href="#">Нет аккаунта ?</a></p>
            </div>
        </form>
    </div>
</div>