.profile__img-pass{
    background-color: var(--gray-main);
    width: 130px !important;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-cl2);
}
