<div class="profile__inner">
    <div class="profile__wrapper">
        <div class="profile__avatar">
        <div class="profile__img-pass">
            <img src="/src/assets/image/profile-img.svg" alt="Аватарка">
        </div>
    </div>

    <dl class="profile__info">
        <div class="profile__row">
            <dt class="profile__label">Старый пароль</dt>
            {{> inputProfile value=email type="password" nameProfile="oldPassword"}}
        </div>
        <div class="profile__row">
            <dt class="profile__label">Новый пароль</dt>
            {{> inputProfile value=login type="password" nameProfile="newPassword"}}
        </div>
        <div class="profile__row">
            <dt class="profile__label">Подтвердите новый пароль</dt>
            {{> inputProfile value=name type="password" nameProfile="newPassword"}}
        </div>
    </dl>

    <div class="profile__change">
        {{> button type="primary" btnText="Сохранить"}}
    </div>

    </div>
</div>