<div class="form">
    <div class="reg">
        <h2 class="reg__title">Регистрация</h2>
        <form class="reg__form">
            <div class="reg__inputs">
                {{> input label="Email"}}
                {{> input label="Login"}}
                {{> input label="Name"}}
                {{> input label="Surname"}}
                {{> input label="Phone"}}
                {{> input label="Password"}}
                {{> input label="Repeat password"}}
            </div>
            <div class="reg__btns">
                {{> button type="primary" btnText="Зарегистрироваться"}}
                {{> link class="link" linkText="Вход"}}
            </div>
        </form>
    </div>
</div>