<div class="form">
    <div class="reg">
        <h2 class="reg__title">Регистрация</h2>
        <form class="reg__form">
            <div class="reg__inputs">
                {{> Input label="Email"}}
                {{> Input label="Login"}}
                {{> Input label="Name"}}
                {{> Input label="Surname"}}
                {{> Input label="Phone"}}
                {{> Input label="Password"}}
                {{> Input label="Password"}}
            </div>
            <div class="reg__btns">
                {{> Button type="primary" btnText="Зарегистрироваться"}}
                {{> Button type="link" btnText="Вход"}}
            </div>
        </form>
    </div>
</div>