{{#> chatContainer}}
    {{#> chatSidebar}}
        <div class="chatLink">
            <a href="#" class="chatLink__element">Профиль</a>
        </div>
        <input type="text" class="search" placeholder="Поиск">

        <div class="user-list">
            {{> chatUser messageCount=2}}
            {{> chatUser}}
            {{> chatUser}}
            {{> chatUser messageCount=3}}
            {{> chatUser}}
            {{> chatUser}}
            {{> chatUser}}
            {{> chatUser}}
            {{> chatUser}}
            {{> chatUser}}
            {{> chatUser}}
            {{> chatUser}}
            {{> chatUser messageCount=1}}
        </div>
    {{/chatSidebar}}
    <div class="chat-window">
        <p>Скоро здесь будут чаты</p>
    </div>
{{/chatContainer}} 