<nav>
    <ul class="markers">
        <li><a href="#"  page="login">Login</a></li>
        <li><a href="#"  page="register">Register</a></li>
        <li><a href="#"  page="profile">Profile</a></li>
        <li><a href="#" page="profileChange">profileChange</a></li>
        <li><a href="#" page="profilePassword">profilePassword</a></li>
        <li><a href="#" page="chat">chat</a></li>
        <li><a href="#" page="error404">Error404</a></li>
        <li><a href="#" page="error500">Error500</a></li>
    </ul>
</nav>
