<ul>
    <li><a href="#" class="nav__link" page="login">Login</a></li>
    <li><a href="#" class="nav__link" page="register">Register</a></li>
    <li><a href="#" class="nav__link" page="profile">Profile</a></li>
</ul>