<div class="inputFile">
    <label for="inputFile" class="inputFile__container">
        <input id="inputFile" name="inputFile" class="inputFile__element" type="file" hidden/>
        <div class="inputFile__text">Выбрать файлы с компьютера</div>
    </label>
</div>